<div class="container marketing px-4 py-5 border-bottom mb-4">
  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider" />

  <div class="row">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">
        Different Learning Topics.
        <span class="text-body-secondary">Over 25</span>
      </h2>
      <p class="lead">
        Welcome to our comprehensive resource hub featuring 25+ Channels
        tailored specifically for day trading enthusiasts. Dive into a wealth of
        insights, strategies, and market analysis. Whether you're a seasoned
        trader or just starting out, our diverse selection of channels cover
        everything from technical analysis to risk management, ensuring you have
        the tools and knowledge to navigate the dynamic world of day trading
        with confidence. Join our community today and elevate your trading game
        to new heights.
      </p>
    </div>
    <div class="col-md-5">
      <img
        class="bd-placeholder-img bd-placeholder-img-lg featurette-image mx-auto"
        src="./assets/DiscordSS.png"
        alt="TradingClass"
        height="400px
      "
      />
    </div>
  </div>

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">
        Trading Tutorials
        <span class="text-body-secondary">See for yourself.</span>
      </h2>
      <p class="lead">
        Explore our concise yet comprehensive video tutorial library, designed
        to equip day traders with essential knowledge and practical strategies.
        From mastering market indicators to executing precise trades, our videos
        cover it all. Whether you're a beginner or a seasoned pro, dive in now
        to elevate your day trading game.
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <iframe
        width="500"
        height="100%"
        src="https://www.youtube.com/embed/watch?v=odur6UkpamQ"
      >
      </iframe>
    </div>
  </div>

  <hr class="featurette-divider" />

  <div class="row mb-5 featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">
        Live Trading and Classes.
        <span class="text-body-secondary">Checkmate.</span>
      </h2>
      <p class="lead">
        Join live trading sessions to witness strategies in action and gain
        hands-on experience navigating volatile markets. Whether you're new or
        seasoned, our sessions provide invaluable insights to thrive in day
        trading. Enroll now to level up your trading game!
      </p>
    </div>
    <div class="col-md-5">
      <img
        class="bd-placeholder-img bd-placeholder-img-lg featurette-image mx-auto"
        src="./assets/FullLiveTradeSS.png"
        alt="TradingClass"
        height="300px
      "
      />
    </div>
  </div>

  <!-- /END THE FEATURETTES -->
</div>
