<div class="container" id="contact">
  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal text-body-emphasis">Contact</h1>
  </div>
  <div class="card">
    <div class="card-body">
      <form
        action="mailto:bedella012102@gmail.com"
        method="POST"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="inputEmail" class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            id="inputEmail"
            aria-describedby="emailHelp"
          />
          <div id="emailHelp" class="form-text">
            We'll never share your email with anyone else.
          </div>
        </div>
        <div class="mb-3">
          <label for="inputMessage" class="form-label">Comments</label>
          <textarea
            type="text"
            rows="6"
            class="form-control"
            id="inputMessage"
          ></textarea>
        </div>
        <button type="submit" value="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
