<div class="px-4 pt-5 my-5 text-center border-bottom">
  <h1 class="display-4 fw-bold text-body-emphasis">Blatoise Trades</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      "Join our thriving trading Discord channel where we learn, earn, and build
      a community of successful traders together!"
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      <button
        type="button"
        class="btn btn-primary btn-lg px-4 me-sm-3"
        onclick="openInNewTab('https://whop.com/blastoise-premium/')"
      >
        Join Now
      </button>
      <button
        type="button"
        class="btn btn-outline-secondary btn-lg px-4"
        onclick="openInNewTab('https://whop.com/blastoise-premium/?pass=prod_MuLrjezpgTA8V')"
      >
        Try Free
      </button>
    </div>
  </div>
  <!-- HERO IMAGE -->
  <div class="overflow-hidden" style="max-height: 40vh">
    <div class="container px-5">
      <img
        src="assets/DiscordSS.png"
        class="rounded-3 mb-4"
        alt="Example image"
        width="700"
        height="500"
        loading="lazy"
      />
    </div>
  </div>
</div>
